@model OwodaApp.Models.Vehicle

@{
    ViewData["Title"] = "Edit";
}


    <section id="vehicleReg">
        <div class="container">
        <h1>Edit Vehicle Details</h1>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="VehicleId" />
                    <div class="form-group">
                        <label asp-for="VehicleType" class="control-label"></label>
                        <input asp-for="VehicleType" class="form-control" />
                        <span asp-validation-for="VehicleType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VehicleMake" class="control-label"></label>
                        <input asp-for="VehicleMake" class="form-control" />
                        <span asp-validation-for="VehicleMake" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VehicleModel" class="control-label"></label>
                        <input asp-for="VehicleModel" class="form-control" />
                        <span asp-validation-for="VehicleModel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VehicleColor" class="control-label"></label>
                        <input asp-for="VehicleColor" class="form-control" />
                        <span asp-validation-for="VehicleColor" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsPapersComplete" /> @Html.DisplayNameFor(model => model.IsPapersComplete)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberId" class="control-label"></label>
                        <select asp-for="MemberId" class="form-control" asp-items="ViewBag.MemberId"></select>
                        <span asp-validation-for="MemberId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
        </div>
    </section><!-- End Hero -->