@model IEnumerable<OwodaApp.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}


<!-- ======= Hero Section ======= -->
<section id="vehicleReg">
    <div class="container">

        <p>
            <a asp-action="Create">Register Vehicle</a>
        </p>
       <br />
        <p>
            <a asp-action="SearchShowFrom">Search For a Member</a>
        </p><br />
        <p>
            <a asp-action="ShowAllMembers">List Members</a>
        </p><br />


    </div>
</section><!-- End Hero -->