@{
    ViewData["Title"] = "Home Page";
}


<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <h1>WELCOME</h1>
                <h2>Become a NURTW Member now!!</h2>
               
            </div>
        </div>
    </div>
</section><!-- End Hero -->